<template>
	<div class="play">
		<MainGame />
	</div>
</template>

<script lang="ts">
	import { defineComponent } from 'vue';
	import MainGame from '@/components/MainGame.vue';
	import useNeedLoggedIn from '@/compositions/NeedLoggedIn';

	export default defineComponent({
		name: 'Play',
		components: {
			MainGame,
		},
		setup() {
			return {
				...useNeedLoggedIn(),
			};
		},
	});
</script>
