<template>
	<div class="home__wrapper">
		<home-background class="home__background" />
		<router-view class="home__content" />
	</div>
</template>

<script lang="ts">
	import { defineComponent } from 'vue';
	import HomeBackground from '@/components/HomeBackground.vue';

	export default defineComponent({
		name: 'Home',
		components: { HomeBackground },
		setup() {
			return {};
		},
	});
</script>

<style scoped lang="scss">
	.home {
		&__wrapper,
		&__content,
		&__background {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&__background {
			width: 100%;
			height: 100%;
			background-color: $darkBackgroundColor;
			z-index: -1;
		}
	}
</style>
