<template>
	<div>
		<div v-for="popup in popupList" :key="popup.content">
			<single-popup :data="popup" />
		</div>
	</div>
</template>

<script lang="ts">
	import { computed, defineComponent } from 'vue';
	import { useStore } from '@/stores/storeFront';
	import SinglePopup from '@/components/popups/SinglePopup.vue';
	import { Popup } from '@/model/Popup';

	export default defineComponent({
		name: 'PopupsHandler',
		components: { SinglePopup },
		setup() {
			const store = useStore();

			const popupList = computed(() => store.state.popupList as Array<Popup>);

			return {
				popupList,
			};
		},
	});
</script>
