<template>
	<div>
		<header v-if="data.title">
			{{ data.title }}
		</header>
		<div>
			{{ data.content }}
		</div>
		<div>
			<button v-for="button in data.buttonList" :key="button.label" @click="button.action">
				{{ button.label }}
			</button>
		</div>
	</div>
</template>

<script lang="ts">
	import { defineComponent } from 'vue';
	import { Popup } from '@/model/Popup';

	export default defineComponent({
		name: 'Popup',
		props: {
			data: {
				type: Popup,
				required: true,
			},
		},
		setup() {
			return {};
		},
	});
</script>
