<template>
	<fieldset>
		<label :for="id">{{ label }}</label>
		<input :id="id" v-model="value" :type="type" :placeholder="placeholder" />
	</fieldset>
</template>

<script lang="ts">
	import { defineComponent, reactive, toRefs, watch, toRef } from 'vue';

	export enum InputType {
		Text = 'TYPE_TEXT',
		Password = 'TYPE_PASSWORD',
		Check = 'TYPE_CHECKBOX',
	}

	export const inputTypeValues = {
		[InputType.Text]: 'text',
		[InputType.Password]: 'password',
		[InputType.Check]: 'checkbox',
	};

	export default defineComponent({
		name: 'InputField',
		props: {
			modelValue: {
				type: String,
				required: true,
			},
			label: {
				type: String,
				required: true,
			},
			type: {
				type: String,
				validator: (val: string) => Object.keys(inputTypeValues).includes(val),
				default: InputType.Text,
			},
			placeholder: {
				type: String,
				default: '',
			},
		},
		emits: ['update:modelValue'],
		setup(props, context) {
			const dataState = reactive({
				value: props.modelValue,
				label: props.label,
				type: inputTypeValues[props.type as InputType],
				placeholder: props.placeholder,
				id: 'input_' + props.label.replaceAll(/(\W)/g, '_').toLowerCase(),
			});

			watch(toRef(props, 'modelValue'), (modelValue) => {
				dataState.value = modelValue;
			});

			watch(toRef(dataState, 'value'), (inputValue) => {
				context.emit('update:modelValue', inputValue);
			});

			return {
				...toRefs(dataState),
			};
		},
	});
</script>
