<template>
	<form @submit.prevent="onSubmit">
		<input-field v-model="login" label="Login" />
		<input-field v-model="password" :type="InputType.Password" label="Password" />
		<input-field v-model="willRemember" :type="InputType.Check" label="Remember me" />
		<big-button text="Enter the Castel" icon="key.png" @bigButtonPressed="onSubmit" />
	</form>
</template>

<script lang="ts">
	import { defineComponent, reactive, toRefs } from 'vue';
	import { useStore } from '@/stores/storeFront';
	import { useRouter } from 'vue-router';
	import InputField, { InputType } from '@/components/forms/InputField.vue';
	import BigButton from '@/components/BigButton.vue';

	export default defineComponent({
		name: 'LoginForm',
		components: { InputField, BigButton },
		setup() {
			const store = useStore();
			const router = useRouter();

			const dataState = reactive({
				login: '',
				password: '',
				willRemember: false,
			});

			const onSubmit = () => {
				store
					.dispatch('CallLogin', {
						login: dataState.login,
						password: dataState.password,
						willRemember: dataState.willRemember,
					})
					.then(() => {
						router.back();
					})
					.catch((err: Error) => {
						// eslint-disable-next-line
						alert(err);
					});
			};

			return {
				...toRefs(dataState),
				onSubmit,
				InputType,
			};
		},
	});
</script>
