<template>
	<slot />
</template>

<script lang="ts">
	import { defineComponent } from 'vue';

	export default defineComponent({
		name: 'StyledForm',
		components: {},
		setup() {
			return {};
		},
	});
</script>

<style lang="scss">
	form {
		padding: 1rem 0.5rem;
	}

	fieldset {
		border: none;
		padding: 0;

		> label {
			display: block;
		}

		> input {
			display: block;
			width: 100%;
		}

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	label {
		color: white;
	}

	input {
		box-sizing: border-box;
		padding: 0.2rem;
		font-size: inherit;
		font-family: inherit;
	}

	input[type='checkbox'] {
		width: 1.5rem;
		height: 1.5rem;
	}

	.bigButton {
		display: block;
		margin-top: 2rem;
	}
</style>
